.logo-white {
    width: 180px;
    filter: brightness(0) invert(1);
}

.ecommerce-icon {
    width: 100px;
}

@media only screen and (min-width: 425px) {
    .logo-white {
        width: 350px;
    }

    .ecommerce-icon {
        width: 150px;
    }
}