.background {
	background-size: cover;
	background-position: center;
}

.text-shadow {
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.segoe {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.scroll-button {
	display: block;
}

.w-fit-content {
	width: fit-content;
}

.glass {
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}

.glass-white {
	background-color: rgba(255, 255, 255, 0.4);
}

.glass-dark {
	background-color: rgba(0, 0, 0, 0.4);
}

.link {
	color: black;
}

.link:hover {
	color: rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width: 768px) {
	.scroll-button {
		display: none;
	}

	.w-md-25 {
		width: 25%;
	}
}
