
.background {
  background-size: cover;
  background-position: center;
}

.text-shadow {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.segoe {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header1, .header2, .header3 {
  line-height: 1.1em;
}

.header1 {
  font-size: 11vw;
}

.header2 {
  font-size: 5.5vw;
}

.header3 {
  font-size: 4vw;
}

@media only screen and (min-width: 768px) {
  .header1 {
    font-size: 5.5vw;
  }

  .header2 {
    font-size: 4vw;
  }

  .header3 {
    font-size: 3vw;
  }
}